{% extends 'base.html.twig' %}

{% block title %}{% trans %}Forgotten password{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">{% trans %}Forgotten password{% endtrans %}</h1>
    {{ form(emailForm) }}
{% endblock %}
