{% extends 'base.html.twig' %}

{% block title %}{% trans %}New password{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">{% trans %}New password{% endtrans %}</h1>
    <form method="post">
        <label for="password">{% trans %}Password{% endtrans %}</label>
        <input type="password" name="password" id="password">
        <input type="hidden" name="token" value="{{ token }}">
        <button>{% trans %}Validate{% endtrans %}</button>
    </form>
{% endblock %}
