{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit user{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Edit user{% endtrans %}</h1>
    {{ form(userForm) }}
{% endblock %}