{% extends 'base.html.twig' %}

{% block title %}{% trans %}Users list{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Users list{% endtrans %}</h1>
    <table class="table">
        <thead>
            <th>{% trans %}ID{% endtrans %}</th>
            <th>{% trans %}Email{% endtrans %}</th>
            <th>{% trans %}Roles{% endtrans %}</th>
            <th>{% trans %}Articles{% endtrans %}</th>
            <th>{% trans %}Action{% endtrans %}</th>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% for role in user.roles %}
                            {% if role is same as("ROLE_USER") %}
                                {% trans %}User{% endtrans %}                                
                            {% elseif role is same as("ROLE_EDITOR") %}
                                {% trans %}Editor{% endtrans %}
                            {% elseif role is same as("ROLE_MODO") %}
                                {% trans %}Moderator{% endtrans %}
                            {% elseif role is same as("ROLE_ADMIN") %}
                                {% trans %}Administrator{% endtrans %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ user.articles|length }}</td>
                    <td><a href="{{ path('admin_edit_user', { id: user.id }) }}" class="btn btn-warning">{% trans %}Edit{% endtrans %}</a></td>
                </tr>       
            {% else %}
                <tr>
                    <td colspan=5>{% trans %}There is no registered user{% endtrans %}</td>
                </tr>
            {% endfor %} 
        </tbody>
    </table>
{% endblock %}