{% extends 'base.html.twig' %}

{% block title %}{% trans %}Add an article{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Add an article{% endtrans %}</h1>
    {{ form(articleForm) }}
{% endblock %}
